{%load static%}
{% load daguerre %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OLX clone</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"><!--pretty libary for styling-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
</body>
<!--navigation bar-->
<nav>
    <div class="container nav-wrapper"> <!--container makes it more clicable and controlable-->
        <a href="/" class="brand-logo">OLX clone</a> <!--href takes home-->
        <ul id="nav-mobile" class="right">
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>
<!--navigation bar-->

<!--using flexbox for sizing-->
<div class="container">
    <h1 style="text-align: center">Что вы хотите искать на OLX clone? </h1>
    <div class="row">
        <div class="col s7">  <!--responsible for how many images in the raw-->
            <!-- Promo Content 1 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: #EE6E73">flash_on</i> <!--go to materialize, inspect code and copy what you need-->
                <p>Быстрый OLX Scraper</p>
                <p class="light center">Делайте поиск по OLX с красивым графическим интерфейсом</p>
            </div>
        </div>

        <div class="col s4">
            <!-- Promo Content 3 goes here -->
            <div class="center">
                <i class="large material-icons" style="color: blue">chrome_reader_mode</i>
                <p>Более привлекательная версия OLX</p>
                <p class="light center">Cделано с  ❤️</p>
            </div>
        </div>
    </div>
<!--Search bar-->
 <form action="{% url 'new_search'%}" method="post">   <!-- once you submit this form what url it takes you to,with forms you want to do post method -->
        {% csrf_token %} <!--for security feature-->
        <input type = "text" name="search" placeholder = "search">
       <div class="center">
        <button class="waves-effect waves-light btn-small"><i class="material-icons left">check</i>Submit</button><!--button class copied from the materialize and you can change 'check' to any icon-->
       </div>
</form>
<!-- this allows to use base html everywhere -->
    {%block content%}

    {%endblock content%}
</div>

    <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
